<nav>
  <div class="container py-4">
      <div class="timeline">
          <div class="timeline-progress">
              <div class="ts-bar" style="width: 100%;"></div>
          </div>
          <div class="ls-steps">
              <div class="ls-step finish">
                  <div class="fill">
                      <span class="material-icons">
                          done
                      </span>
                  </div>
                  <div class="ls-text">
                      Cadastro
                  </div>
              </div>
              <div class="ls-step finish">
                  <div class="fill">
                      <span class="material-icons">
                          done
                      </span>
                  </div>
                  <div class="ls-text">
                      Briefing
                  </div>
              </div>
              <div class="ls-step last finish">
                  <div class="fill">
                      <span class="material-icons">
                          done
                      </span>
                  </div>
                  <div class="ls-text">
                      Obrigado!
                  </div>
              </div>
          </div>
      </div>
  </div>
</nav>
<div class="step-container container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
  <div style="max-width: 450px;">
  <h1 class="d-block text-center mb-4 px-2">Muito Obrigado!</h1>
  <p>
      Seu projeto será analisado e em breve iremos entrar em contato. Até lá você poderá ver os status do seu projeto dentro da nossa plataforma com a credenciais que cadastrou.
  </p>
  <p>
      Fique atento ao seus e-mail que poderemos entrar em contato por lá.
  </p>
  <span>Be Bold.</span>
  </div>
</div>
