<h1 class="content-title">Notificações</h1>

<div class="card">
    <div class="card-body">
      <form [formGroup]="notificationForm" (ngSubmit)="sendEvent()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Ícone</mat-label>
            <mat-select formControlName="icon">
              <mat-option value="a">
                a
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <input matInput placeholder="Placeholder" formControlName="title">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Placeholder" rows="2" formControlName="description"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
              <mat-option type="global">
                Global
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input matInput placeholder="Placeholder" formControlName="link">
          </mat-form-field>
        </p>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </div>
</div>
