<div class="login-wrapper">

  <div class="login">
      <div class="login-box">
          <div class="mb-4">
              <h1>Bem-vindo a Brandone!</h1>
              <span>Informe as credenciais para efetuar o log-in.</span>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="Submit(loginForm.value)" >
              <div class="login-input">
                  <label for="username">E-mail ou CPF/CNPJ</label>
                  <input type="text"  id="username" formControlName="username" class="form-control" [ngClass]="{'is-invalid': getError('username') }">
                  <small class="text-danger" *ngIf="getError('username')">{{getError('username')}}</small>
              </div>
              <div class="login-input">
                  <label for="password">Senha</label>
                  <input type="password"  id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': getError('password') }">
                  <small class="text-danger" *ngIf="getError('password')">{{getError('password')}}</small>
              </div>
              <div  class="d-block text-right">
                  <a [routerLink]="['/recover-password']" class="forgot-password">Esqueceu a senha?</a>
              </div>
              <button class="btn btn-login my-3" type="submit">Entre</button>
          </form>
          <span>Não possui conta? <a [routerLink]="'/register'">Cadastre-se</a>.</span>
      </div>
  </div>
  <a class="login-side" href="as">
    <div class="login-link">
        <img src="" alt="">
        <div class="side-info">
            <h2>Massive</h2>
            <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span>
        </div>
    </div>
</a>
</div>
