<nav>
  <div class="container py-4">
      <div class="timeline">
          <div class="timeline-progress">
              <div class="ts-bar" style="width: 0%;"></div>
          </div>
          <div class="ls-steps">
              <div class="ls-step active">
                  <div class="fill">
                      <span class="material-icons">
                          person
                      </span>
                  </div>
                  <div class="ls-text">
                      Cadastro
                  </div>
              </div>
              <div class="ls-step">
                  <div class="fill">
                      <span class="material-icons">
                          description
                      </span>
                  </div>
                  <div class="ls-text">
                      Briefing
                  </div>
              </div>
              <div class="ls-step last">
                  <div class="fill ">
                      <span class="material-icons">
                          done
                      </span>
                  </div>
                  <div class="ls-text">
                      Obrigado!
                  </div>
              </div>
          </div>
      </div>
  </div>
</nav>
<div class="step-container container">

      <div class="row">
          <div class="col-12 col-xl-6">
              <div class="mb-4">
                  <h1>
                      Cadastro
                  </h1>
                  <span>
                      Preencha as informações abaixo para prosseguir.
                  </span>
              </div>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" >
                <div class="form-group">
                  <label for="">Seu nome</label>
                  <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{'is-invalid': getError('name') }">
                  <small class="text-danger" *ngIf="getError('name')">{{getError('name')}}</small>
              </div>
              <div class="form-group">
                  <label for="">E-mail</label>
                  <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': getError('email') }">
                  <small class="text-danger" *ngIf="getError('email')">{{getError('email')}}</small>
              </div>
              <div class="form-group">
                  <label for="">Senha</label>
                  <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': getError('password') }">
                  <small class="text-danger" *ngIf="getError('password')">{{getError('password')}}</small>
              </div>
              <div class="form-group">
                  <label for="">CPF/CNPJ</label>
                  <input type="tel" class="form-control" id="cpfcnpj" formControlName="cpfcnpj" [ngClass]="{'is-invalid': getError('cpfcnpj') }">
                  <small class="text-danger" *ngIf="getError('cpfcnpj')">{{getError('cpfcnpj')}}</small>
              </div>
              <div class="form-group">
                <label for="">Nascimento</label>
                <input type="tel" class="form-control" id="birthday" formControlName="birthday" [ngClass]="{'is-invalid': getError('birthday') }">
                <small class="text-danger" *ngIf="getError('birthday')">{{getError('birthday')}}</small>
              </div>
              <div class="form-group">
                  <label for="">Telefone/Celular</label>
                  <input type="tel" class="form-control" id="phone" formControlName="phone" [ngClass]="{'is-invalid': getError('phone') }">
                  <small class="text-danger" *ngIf="getError('phone')">{{getError('phone')}}</small>
              </div>
              <button class="btn btn-continue" type="submit">
                  Continuar
              </button>
              </form>
          </div>
          <div class="col-12 col-xl-6">

          </div>
      </div>

</div>
