.nav {
  position: fixed;
  top: 0;
  left: 280px;
  right: 0;
  border-bottom: 1px solid #3A3C3D;
  z-index: 3;
  height: 60px;
  z-index: 2;
  background-color: #18191A;
  .user-profile {
      height: 45px;
      margin: auto 0;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      background-color: #242526;
      color: #fff;
      border: none;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0 .65rem;
      outline: none;
      transition: all ease-in-out .2s;
      picture {
          height: 28px;
          width: 28px;
          border-radius: 50%;
          background-color: #4B4B4B;
          margin-right: .35rem;
          overflow: hidden;
          img {
              display: block;
              width: 28px;
              height: 28px;
              margin: auto;
          }
      }
      &:active {
          transform: scale(.9);
          transition: all ease-in-out .2s;
      }
  }
}

.logo-brand {
  height: 60px;
  border-bottom: 1px solid #3A3C3D;
}

.sidebar {
  background-color: #242526;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 280px;
  height: 100vh;
  border-right: 1px solid #3A3C3D;
}

.content {
  background-color: #18191A;
  padding-left: 280px;
  padding-top: 60px;
  z-index: 1;
  color: #fff;
  .wrapper {
      padding: 1.3rem;
      .content-title {
          font-size: 2rem;
          font-weight: 400;
          margin-bottom: 1.5rem;
      }
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  .act-button {
      appearance: none;
      height: 36px;
      width: 36px;
      padding: 0px;
      border: none;
      border-radius: 3px;
      text-align: center;
      display: flex;
      margin: 0 4px;
      align-items: center;
      justify-content: center;
      transition: all ease-in-out 130ms;
      &:focus {
          outline: none;
      }
      &:active{
          transform: scale(.9);
          transition: all ease-in-out 130ms;
      }
      &.red {
          background-color: var(--red);
          color: #fff;
      }
      &.green {
          background-color: var(--green);
          color: #fff;
      }
      &.blue {
          background-color: var(--blue);
          color: #fff;
      }
      &.gray {
          background-color: var(--gray);
          color: #fff;
      }
  }
}

.card {
  background-color: #242526;
  box-shadow: none;
  border: none;
  .card-header {
      border-bottom: 1px solid #323334;
  }

  .table  {
      thead th {
          border-bottom: 1px solid #323334;
      }
      th,
      td {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        vertical-align: top;
        border-top: none;
      }
      tbody {
          tr {
              border-top: 1px solid #323334;
              td {
                  font-weight: 400;
              }
          }
      }
  }
}



.login-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  .login-side {
      flex-basis: 30%;
      height: 100%;
      background-color: #333;
      .login-link {
          position: relative;
          height: 100%;
          .side-info {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 1.8rem;
              h2 {
                  color: #fff;
              }
              span {
                  font-size: 18px;
                  color: #fff;
              }
          }
      }
  }
  .login {
      flex-basis: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      .login-box {
          h1 {
              font-size: 2rem;
              font-weight: 700;
          }
          span {
           color: #333;
          }
          .login-input {
              margin-bottom: 1rem;
              label{
                  color: #9a9a9a;
                  font-size: 14px;
              }
              .form-control {
                  border-radius: 0;
                  height: calc(2.5em + .75rem + 2px);
                  &:focus {
                      color: #333;
                      background-color: #fff;
                      border-color: #333;
                      outline: 0;
                      box-shadow: none;
                  }
              }
          }
      }
      .forgot-password {
          color: #333;
          font-weight: 600;
          font-size: 14px;
      }
      .btn.btn-login {
          height: calc(3.2em + .75rem + 2px);
          border-radius: 0px;
          background-color: #000;
          color: #fff;
          width: 100%;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 14px;
      }
  }
  @media (max-width: 991.98px) and (min-width: 0px){
      .login-side {
          display: none;
      }
      .login {
          flex-basis: 100%;
      }
  }
}
.card.menu {
  .menu-item {
      color: #fff;
      width: 100%;
      font-size: 14px;
      border-radius: 0 !important;
      text-align: left;
      height: 60px;
      border-bottom: 1px solid #3A3C3D;
      background-color: transparent;
      outline: 0;
      box-shadow: none !important;
      &:active {
          outline: 0 !important;
      }
      &:hover {
          color: #fff;

      }
  }
  .card {
      background-color: #333;
  }
}

.timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 10px;
  font-size: 14px;
  .timeline-progress {
      width: 100%;
      background-color: #eee;
      overflow: hidden;
      height: 2px;
      display: block;
      .ts-bar {
          background-color: #333;
          height: 100%;
          display: block;
      }
  }
  .ls-steps {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -23px;
      .ls-step {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          text-decoration: none;
          &.last {
              .fill {
                  height: 50px;
                  width: 50px;
                  background-color: #a1a1a1;
                  color: #fff;
                  border: #666;
              }
              .ls-text {
                  top: 55px;
              }
          }
          &.active {
              .fill {
                  border-color: #333;
                  color: #333;
              }
              .ls-text {
                  color: #333;
                  font-weight: 600;
              }
          }
          &.finish {
              &.last {
                  .fill {
                      border-color: var(--green);
                      background-color: var(--green);
                      color: #fff;
                  }
                  .ls-text {
                      color: var(--green);
                      font-weight: var(--green);
                      font-weight: 600;
                  }
              }
              .fill {
                  border-color: var(--green);
                  color: var(--green);
              }
              .ls-text {
                  color: var(--green);
                  font-weight: var(--green);
                  font-weight: 600;
              }
          }
          .fill {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              background-color: #fff;
              border: 2px solid #919191;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #919191;
          }
          .ls-text {
              align-items: center;
              justify-content: center;
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 35px;
              width: 95px;
              font-size: 14px;
              color: #333;
              top: 45px;
          }
      }
  }
}

.timeline-order {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 0px 10px;
  font-size: 14px;
  .timeline-progress {
      width: 100%;
      background-color: #484848;
      overflow: hidden;
      height: 4px;
      display: block;
      overflow: hidden;
      border-radius: 5rem;
      .ts-bar {
          background-color: var(--green);
          height: 100%;
          display: block;
      }
  }
  .order-steps {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -45px;
      .order-step {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          text-decoration: none;
          &.last {
              .fill {
                  height: 50px;
                  width: 50px;
                  background-color: #a1a1a1;
                  color: #fff;
                  border: #666;
              }
              .order-text {
                  top: 55px;
              }
          }
          &.active {
              .fill {
                  border-color: #333;
                  color: #333;
              }
              .order-text {
                  color: #333;
                  font-weight: 600;
              }
          }
          &.finish {
              &.last {
                  .fill {
                      border-color: var(--green);
                      background-color: var(--green);
                      color: #fff;
                  }
                  .order-text {
                      color: var(--green);
                      font-weight: var(--green);
                      font-weight: 600;
                  }
              }
              .fill {
                  border-color: var(--green);
                  color: var(--green);
              }
              .order-text {
                  color: var(--green);
                  font-weight: var(--green);
                  font-weight: 400;
              }
          }
          .fill {
              height: 35px;
              width: 35px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #919191;
          }
          .order-text {
              align-items: center;
              justify-content: center;
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 35px;
              width: 95px;
              font-size: 12px;
              color: #696969;
              top: 55px;
              text-align: center;
          }
      }
  }
}

.step-container {
  h1 {
      color: #000;
      font-weight: 700;
  }
  span {
      color: #000;
      font-size: 21px;
      font-weight: 600;
  }
  .form-group {
      label {
          font-size: 14px;
          color: #333;
      }
      textarea.form-control {
          height: auto
      }
      .form-control {
          height: calc(2.4em + .75rem + 2px);
          border-radius: 0px;
          border-color: #333;
          &:focus {
              color: #333;
              background-color: #fff;
              border-color: #000;
              outline: 0;
              box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
          }
      }
      small {
          font-size: 12px;
          color: #9b9b9b;
      }
  }
  .btn.btn-continue {
      height: calc(2.8em + .75rem + 2px);
      background-color: #000;
      color: #fff;
      width: 100%;
      border-radius: 0;
      margin: 1rem 0;
      font-weight: 600;
      text-transform: uppercase;
  }
}

.nav-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  .nav-item {
    .nav-link {
      padding: 0 15px;
      display: flex;
      align-items: center;
      height: 45px;
      color: #a0a0a0;
    }
    &:hover  {
      border-bottom: 2px solid #333;
    }
    &.active {
      .nav-link {
        color: #fff;
      }
      font-weight: 600;
      border-bottom: 2px solid #333;
    }
  }

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body { height: 100%; background-color: #18191A; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
b {
  font-weight: 500;
}

/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #7a00ff;
  --primary-lighter-color: #d7b3ff;
  --primary-darker-color: #5d00ff;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #7a00ff,
  lighter: #d7b3ff,
  darker: #5d00ff,
  200: #7a00ff, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #1f1f1f;
  --accent-lighter-color: #bcbcbc;
  --accent-darker-color: #121212;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #1f1f1f,
  lighter: #bcbcbc,
  darker: #121212,
  200: #1f1f1f, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}
